/* font importing */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/* reseting css rules */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  outline: none;
  font-family: "Roboto", sans-serif;
}

:root {
  --bege: #f2e2c1;
  --red: #cb0236;
  --gray: #7b573b;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

header {
  width: 100%;
  height: 500px;
  background: var(--bege);
}

.content {
  max-width: 1000px;
  min-width: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

nav {
  width: 100%;
  height: 125px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.brand {
  font-size: 50px;
  color: var(--red);
  cursor: pointer;
}

nav ul {
  display: flex;
  flex-direction: row;
}

nav ul li {
  list-style: none;
  padding: 15px;
  cursor: pointer;
}

nav ul li a {
  color: var(--red);
  text-decoration: none;
}

nav ul li a:hover {
  color: white;
}

nav button {
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: white;
    z-index: 1;
    background: var(--red);
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
    cursor: pointer;
   }
   
nav button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #fdc60a;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
   }
   
nav button:hover {
    color: black;
   }
   
nav button:hover::before {
    width: 100%;
   }


.header-block img {
  max-width: 980px;
  min-width: 300px;
  height: 100%;
  border-radius: 8px;
  box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.5);
  position: center;
  }

/* Product Catalog */

section .catalog {
  width: 100vw;
  padding: 100px;
}

section .filter-card {
  width: 980px;
  height: 150px;
  background: var(--gray);
  border-radius: 8px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.search-input {
  width: 700px;
  height: 50px;
  border: none;
  border-radius: 4px 0px 0px 4px;
  text-indent: 10px;
}

.search-button {
    width: 150px;
    height: 50px;
    border: unset;
    border-radius: 0px 4px 4px 0px;
    color: white;
    z-index: 1;
    background: var(--red);
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
    cursor: pointer;
}

.search-button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 0px 4px 4px 0px;
  background-color: #fdc60a;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms  
}

.search-button:hover {
color: black;
}

.search-button:hover::before {
    width: 100%;
}


.title-wrapper-catalog {
  margin-top: 200px;
  padding-bottom: 20px;
}

section .card-wrapper {
    max-width: 1000px;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    grid-gap: 30px;
    padding-top: 50px;
  }
  
  section .card-item {
    height: 400px;
    background: var(--bege);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.5);
  }
  
  .card-content {
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  
  .card-item img {
    width: 270px;
    height: 50%;
    border-radius: 8px;
  }
  
  .card-item h4 {
    width: 90%;
  }
  
  .card-item p {
    width: 90%;
    font-style: italic;
    color: #00000070;
  }
  
  .card-item button {
    padding: 15px 80px;
    border: unset;
    border-radius: 15px;
    color: white;
    z-index: 1;
    background: var(--red);
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
    cursor: pointer;
  }

  .card-item button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #fdc60a;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
   }
  
  .card-item button:hover {
    background: white;
    color: black;
  }

  .card-item button:hover::before {
    width: 100%;
   }


/* About */

.about {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 10px;
}

.about-content {
  max-width: 1000px;
  min-width: 300px;
  height: 600px;
  background: #dedede3b;
  margin: 0 auto;
  border-radius: 8px;
  z-index: 10;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.left {
  width: 25%;
  min-width: 300px;
  height: 100%;
  background: var(--bege);
  border-radius: 8px;
}

.right {
  width: 65%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 10%;
}

.right h3 {
  text-align: right;
  width: 90%;
  margin-bottom: 20px;
}

.right p {
  max-width: 90%;
  font-size: 1em;
  letter-spacing: 2px;
  text-align: right;
  color: rgba(0, 0, 0, 0.4);
}


/* Footer */
footer {
  width: 100%;
  height: 250px;
}

footer .main {
  width: 100%;
  height: 200px;
  background: var(--bege);
  padding: 20px 10px;
}

.footer-links {
  max-width: 1000px;
  min-width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}

.footer-company,
.footer-rental,
.footer-contact,
.footer-social {
  color: white;
  height: 100%;
  min-height: 100px;
  cursor: pointer;
}

.footer-links h4 {
  margin-bottom: 10px;
}

.footer-links {
  margin-bottom: 8px;
}

.main .footer-social img {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

footer .last {
  width: 100%;
  height: 50px;
  background: var(--red);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Ajustes responsivos */
@media (max-width: 320px) {
    header {
        height: 400px;
    }

    .brand {
        font-size: 28px;
    }

    nav ul li {
        display: none;
      }

    nav {
        width: 100%;
    }

    .header-block img {
        margin-top: 20px;
        width: 300px;
        height: 200px;
        position: relative;
    }

    .title-wrapper-catalog{
        margin-top: 10px;
    }
    
    section .filter-card {
        width: 300px;
        padding: 0px 10px;
        height: 100px;
    }

    .search-input {
        max-width: 700px;
        min-width: 240px;
    }

    .search-button {
        max-width: 100px;
    }

    .about {
        margin-top: 50px;
        width: 300px;
      }

    .title-wrapper-about {
        margin-bottom: 10px;
    }
    .about-content {
        flex-direction: column;
        height: 100%;
        width: 280px;

    }

    .left {
        display: none;
    }
    .right {
        width: 100%;
    }
    
    .right p {
        width: 100%;
        margin: 20px;
        text-align: left;
    }
    
    footer {
        height: 100%;
      }
    
      footer .main {
        height: 100%;
      }
    
      .footer-links {
        flex-direction: column;
        padding-left: 10%;
      }


}

@media (max-width: 375px) and (min-width: 321px){
    header {
        height: 400px;
    }

    .brand {
        font-size: 28px;
    }

    nav ul li {
        display: none;
    }

    .header-block {
        align-items: center;
    }

    .header-block img {
        margin-top: 30px;
        width: 350px;
        height: 200px;
      }

    .title-wrapper-catalog{
        margin-top: 0;
    }

    section .filter-card {
        width: 350px;
        padding: 0px 10px;
        height: 100px;
    }

    .search-input {
        max-width: 700px;
        min-width: 240px;
      }
    
      .search-button {
        max-width: 150px;
        min-width: 80px;
      }

    .about {
        margin-top: 20px;
      }
    
      .title-wrapper-about {
        margin-bottom: 20px;
        margin-top: 5px;
      }
      .about-content {
        flex-direction: column;
        height: 100%;
      }
      .left {
        display: none;
      }
      .right {
        width: 90%;
      }
    
      .right p {
        width: 100%;
        margin: 0px;
        text-align: left;
      }
    
      footer {
        height: 100%;
      }
    
      footer .main {
        height: 100%;
      }
    
      .footer-links {
        flex-direction: column;
        padding-left: 10%;
      }

}

@media (max-width: 425px) and (min-width: 376px){
    header {
        height: 500px;
    }
    
    .brand {
        font-size: 32px;
    } 
    
    nav ul li {
        display: none;
    }

    .header-block img {
        margin-top: 30px;
        width: 400px;
        height: 250px;
        position: inherit;
    }

    .title-wrapper-catalog{
        margin-top: 0;
    }

    section .filter-card {
        width: 400px;
        padding: 0px 10px;
    }

    .search-input {
        max-width: 700px;
        min-width: 240px;
      }
    
    .search-button {
        max-width: 150px;
        min-width: 80px;
    }

    .about {
        margin-top: 20px;
      }
    
      .title-wrapper-about {
        margin-bottom: 20px;
      }
      .about-content {
        flex-direction: column;
        height: 100%;
      }
      .left {
        display: none;
      }
      .right {
        width: 90%;
      }
    
      .right p {
        width: 100%;
        margin: 0px;
        text-align: left;
      }
    
    
      footer {
        height: 100%;
      }
    
      footer .main {
        height: 100%;
      }
    
      .footer-links {
        flex-direction: column;
        padding-left: 10%;
      }
    }

    @media (max-width: 768px) and (min-width: 426px) {
        header {
            height: 600px;
        }
        
        .brand {
            font-size: 32px;
        } 
        
    
        .header-block img {
            margin-top: 30px;
            width: 750px;
            height: 400px;
            position: inherit;
        }
    
        .title-wrapper-catalog{
            margin-top: 0;
        }
    
        section .filter-card {
            width: 750px;
            padding: 0px 10px;
        }
    
        .search-input {
            max-width: 700px;
            min-width: 240px;
          }
        
        .search-button {
            max-width: 150px;
            min-width: 80px;
        }
    
        .about {
            margin-top: 0px;
            height: 500px;
          }
        
          .title-wrapper-about {
            margin-bottom: 20px;
          }
          .about-content {
            flex-direction: column;
            height: 100%;
          }
          .left {
            display: none;
          }
          .right {
            width: 90%;
          }

          .right h3 {
            font-size: 22px;
          }
        
          .right p {
            width: 100%;
            margin: 0px;
            text-align: left;
          }
        
        
          footer {
            height: 100%;
          }
        
          footer .main {
            height: 100%;
          }
        
          .footer-links {
            padding-left: 10%;
          }
    }